//@file          BranchTests-tvOS.xcconfig
//@package       Branch
//@brief         An xcconfig file for configuring the Branch framework TEST_HOST for tvOS.
//
//@author        Edward
//@date          2018
//@copyright     Copyright © 2018 Branch. All rights reserved.

SDKROOT                 = iphoneos
SUPPORTED_PLATFORMS     = iphoneos iphonesimulator
TEST_HOST               = $(BUILT_PRODUCTS_DIR)/TestBed-iOS.app/TestBed-iOS
